#home-page-wrapper {
    padding: 10px;
}

.page-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.missions-wrapper {
    width: calc(100% - 195px);
    display: inline-block;
    vertical-align: top;
    @media only screen and (max-width: 699px) {
        width: 100%;
        display: block;
        text-align: center;
    }
}
.ref-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    @media only screen and (max-width: 699px) {
        display: block;
        margin: 0 auto;
        width: 275px;
        text-align: center;
    }
}
.developer-ref {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 200px;
}